In [73]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [74]:
import pickle

In [75]:
with open('../data/pkl/ga_sessions.pkl', 'rb') as file:
    data = pickle.load(file)

In [76]:
# смотрим форму
data.shape

(1860042, 18)

In [77]:
shape = data.shape
print("Number of rows:", "{:,}".format(shape[0]).replace(',',' '))
print("Number of columns:", "{:,}".format(shape[1]).replace(',',' '))

Number of rows: 1 860 042
Number of columns: 18

In [78]:
data.head()

,session_id,client_id,visit_date,visit_time,visit_number,utm_source,utm_medium,utm_campaign,utm_adcontent,utm_keyword,device_category,device_os,device_brand,device_model,device_screen_resolution,device_browser,geo_country,geo_city
0,9055434745589932991.1637753792.1637753792,2108382700.1637753791,2021-11-24,14:36:32,1,ZpYIoDJMcFzVoPFsHGJL,banner,LEoPHuyFvzoNfnzGgfcd,vCIpmpaGBnIQhyYNkXqp,puhZPIYqKXeFPaUviSjo,mobile,Android,Huawei,NaN,360x720,Chrome,Russia,Zlatoust
1,905544597018549464.1636867290.1636867290,210838531.1636867288,2021-11-14,08:21:30,1,MvfHsxITijuriZxsqZqt,cpm,FTjNLDyTrXaWYgZymFkV,xhoenQgDQsgfEPYNPwKO,IGUCNvHlhfHpROGclCit,mobile,Android,Samsung,NaN,385x854,Samsung Internet,Russia,Moscow
2,9055446045651783499.1640648526.1640648526,2108385331.1640648523,2021-12-28,02:42:06,1,ZpYIoDJMcFzVoPFsHGJL,banner,LEoPHuyFvzoNfnzGgfcd,vCIpmpaGBnIQhyYNkXqp,puhZPIYqKXeFPaUviSjo,mobile,Android,Huawei,NaN,360x720,Chrome,Russia,Krasnoyarsk
3,9055447046360770272.1622255328.1622255328,2108385564.1622255328,2021-05-29,05:00:00,1,kjsLglQLzykiRbcDiGcD,cpc,NaN,NOBKLgtuvqYWkXQHeYWM,NaN,mobile,None,Xiaomi,NaN,393x786,Chrome,Russia,Moscow
4,9055447046360770272.1622255345.1622255345,2108385564.1622255328,2021-05-29,05:00:00,2,kjsLglQLzykiRbcDiGcD,cpc,NaN,NaN,NaN,mobile,None,Xiaomi,NaN,393x786,Chrome,Russia,Moscow

### Преобразование типов переменных

In [79]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1860042 entries, 0 to 1860041
Data columns (total 18 columns):
 #   Column                    Dtype
---  ------                    -----
 0   session_id                object
 1   client_id                 object
 2   visit_date                object
 3   visit_time                object
 4   visit_number              int64
 5   utm_source                object
 6   utm_medium                object
 7   utm_campaign              object
 8   utm_adcontent             object
 9   utm_keyword               object
 10  device_category           object
 11  device_os                 object
 12  device_brand              object
 13  device_model              object
 14  device_screen_resolution  object
 15  device_browser            object
 16  geo_country               object
 17  geo_city                  object
dtypes: int64(1), object(17)
memory usage: 255.4+ MB
None

In [80]:
data['visit_date'] = pd.to_datetime(data['visit_date'], format='%Y-%m-%d', errors='coerce')
# параметр errors='coerce'
# Это преобразует недействительные значения в NaT (Not a Time)
# которые можно легко определить с помощью функции pd.isnull()
data['visit_time'] = pd.to_datetime(data['visit_time'], format='%H:%M:%S', errors='coerce').dt.time

In [81]:
invalid_rows = data[pd.isnull(data['visit_date'])]
invalid_rows

Empty DataFrame
Columns: [session_id, client_id, visit_date, visit_time, visit_number, utm_source, utm_medium, utm_campaign, utm_adcontent, utm_keyword, device_category, device_os, device_brand, device_model, device_screen_resolution, device_browser, geo_country, geo_city]
Index: []

In [82]:
invalid_rows = data[pd.isnull(data['visit_time'])]
invalid_rows

Empty DataFrame
Columns: [session_id, client_id, visit_date, visit_time, visit_number, utm_source, utm_medium, utm_campaign, utm_adcontent, utm_keyword, device_category, device_os, device_brand, device_model, device_screen_resolution, device_browser, geo_country, geo_city]
Index: []

In [83]:
data.head()

,session_id,client_id,visit_date,visit_time,visit_number,utm_source,utm_medium,utm_campaign,utm_adcontent,utm_keyword,device_category,device_os,device_brand,device_model,device_screen_resolution,device_browser,geo_country,geo_city
0,9055434745589932991.1637753792.1637753792,2108382700.1637753791,2021-11-24,14:36:32,1,ZpYIoDJMcFzVoPFsHGJL,banner,LEoPHuyFvzoNfnzGgfcd,vCIpmpaGBnIQhyYNkXqp,puhZPIYqKXeFPaUviSjo,mobile,Android,Huawei,NaN,360x720,Chrome,Russia,Zlatoust
1,905544597018549464.1636867290.1636867290,210838531.1636867288,2021-11-14,08:21:30,1,MvfHsxITijuriZxsqZqt,cpm,FTjNLDyTrXaWYgZymFkV,xhoenQgDQsgfEPYNPwKO,IGUCNvHlhfHpROGclCit,mobile,Android,Samsung,NaN,385x854,Samsung Internet,Russia,Moscow
2,9055446045651783499.1640648526.1640648526,2108385331.1640648523,2021-12-28,02:42:06,1,ZpYIoDJMcFzVoPFsHGJL,banner,LEoPHuyFvzoNfnzGgfcd,vCIpmpaGBnIQhyYNkXqp,puhZPIYqKXeFPaUviSjo,mobile,Android,Huawei,NaN,360x720,Chrome,Russia,Krasnoyarsk
3,9055447046360770272.1622255328.1622255328,2108385564.1622255328,2021-05-29,05:00:00,1,kjsLglQLzykiRbcDiGcD,cpc,NaN,NOBKLgtuvqYWkXQHeYWM,NaN,mobile,None,Xiaomi,NaN,393x786,Chrome,Russia,Moscow
4,9055447046360770272.1622255345.1622255345,2108385564.1622255328,2021-05-29,05:00:00,2,kjsLglQLzykiRbcDiGcD,cpc,NaN,NaN,NaN,mobile,None,Xiaomi,NaN,393x786,Chrome,Russia,Moscow

In [84]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1860042 entries, 0 to 1860041
Data columns (total 18 columns):
 #   Column                    Dtype
---  ------                    -----
 0   session_id                object
 1   client_id                 object
 2   visit_date                datetime64[ns]
 3   visit_time                object
 4   visit_number              int64
 5   utm_source                object
 6   utm_medium                object
 7   utm_campaign              object
 8   utm_adcontent             object
 9   utm_keyword               object
 10  device_category           object
 11  device_os                 object
 12  device_brand              object
 13  device_model              object
 14  device_screen_resolution  object
 15  device_browser            object
 16  geo_country               object
 17  geo_city                  object
dtypes: datetime64[ns](1), int64(1), object(16)
memory usage: 255.4+ MB
None

**Note:** 
В Pandas и в NumPy не существует типа данных time - есть только datetime64, который обязан содержать компоненту даты, и timedelta64.

In [85]:
data['visit_time'].unique()

array([datetime.time(14, 36, 32), datetime.time(8, 21, 30),
       datetime.time(2, 42, 6), ..., datetime.time(4, 51),
       datetime.time(5, 38, 51), datetime.time(4, 30, 9)], dtype=object)

### Дубликаты строк

In [86]:
duplicates = data.duplicated()
print(f"Number of duplicate rows: {duplicates.sum()}")

Number of duplicate rows: 0

**Note:** дубликатов нет

### Обработка пустых атрибутов. Создание новых

In [87]:
print(data.isna().sum())

session_id                        0
client_id                         0
visit_date                        0
visit_time                        0
visit_number                      0
utm_source                       97
utm_medium                        0
utm_campaign                 219603
utm_adcontent                335615
utm_keyword                 1082061
device_category                   0
device_os                   1070138
device_brand                 118678
device_model                1843704
device_screen_resolution          0
device_browser                    0
geo_country                       0
geo_city                          0
dtype: int64

In [88]:
total = data.shape[0]
for col in data.columns:
    missing = data[col].isnull().sum()
    percent = (missing / total) * 100
    print(f"Column: {col}, Missing Values: {missing}, Percentage of Missing Values: {percent:.2f}%")

Column: session_id, Missing Values: 0, Percentage of Missing Values: 0.00%
Column: client_id, Missing Values: 0, Percentage of Missing Values: 0.00%
Column: visit_date, Missing Values: 0, Percentage of Missing Values: 0.00%
Column: visit_time, Missing Values: 0, Percentage of Missing Values: 0.00%
Column: visit_number, Missing Values: 0, Percentage of Missing Values: 0.00%
Column: utm_source, Missing Values: 97, Percentage of Missing Values: 0.01%
Column: utm_medium, Missing Values: 0, Percentage of Missing Values: 0.00%
Column: utm_campaign, Missing Values: 219603, Percentage of Missing Values: 11.81%
Column: utm_adcontent, Missing Values: 335615, Percentage of Missing Values: 18.04%
Column: utm_keyword, Missing Values: 1082061, Percentage of Missing Values: 58.17%
Column: device_category, Missing Values: 0, Percentage of Missing Values: 0.00%
Column: device_os, Missing Values: 1070138, Percentage of Missing Values: 57.53%
Column: device_brand, Missing Values: 118678, Percentage of Missing Values: 6.38%
Column: device_model, Missing Values: 1843704, Percentage of Missing Values: 99.12%
Column: device_screen_resolution, Missing Values: 0, Percentage of Missing Values: 0.00%
Column: device_browser, Missing Values: 0, Percentage of Missing Values: 0.00%
Column: geo_country, Missing Values: 0, Percentage of Missing Values: 0.00%
Column: geo_city, Missing Values: 0, Percentage of Missing Values: 0.00%

**Note:** Для нашего иследования не особо важны переменные: 
Данные в них либо практически отсутствуют, либо являются идентификаторами, расшифровки которых у нас нет.  

device_model&nbsp;&nbsp;&nbsp;99,12%  
device_os&nbsp;&nbsp;&nbsp;57,53% пока не удаляем, мы его заполним  
device_brand&nbsp;&nbsp;&nbsp;6,38%  
utm_keyword&nbsp;&nbsp;&nbsp;58,17%  
utm_adcontent&nbsp;&nbsp;&nbsp;18,04%  этого поля вообще нет в описании к заданию  
utm_campaign&nbsp;&nbsp;&nbsp;11,81%  хотя данное поле, если перевести идентификаторы в название рекламной компании, думаю было бы полезно  

device_screen_resolution&nbsp;&nbsp;безполезные данные  
client_id и visit_number&nbsp;&nbsp;не несет для нас полезной информации  

Удалим эти переменные

#### Заполнение поля ОС устройства.

In [89]:
data['device_os'] = data.apply(lambda x: 'iOS' if x['device_os'] is None and x['device_brand'] == 'Apple' else x['device_os'], axis=1)
data['device_os'] = data.apply(lambda x: 'Android' if x['device_os'] is None and x['device_brand'] == 'Xiaomi' else x['device_os'], axis=1)
data['device_os'] = data.apply(lambda x: 'Samsung' if x['device_os'] is None and x['device_brand'] == 'Samsung' else x['device_os'], axis=1)

In [90]:
data['device_os'] = data.apply(lambda x: 'Android' if x['device_os'] is None and x['device_brand'] in ('Huawei', 'Vivo', 'BQ') else x['device_os'], axis=1)

In [91]:
data['device_os'] = data.apply(lambda x: 'Windows' if x['device_os'] is None and x['device_category'] == 'desktop' else x['device_os'], axis=1)

In [92]:
data['device_os'] = data.apply(lambda x: 'iOS' if x['device_os'] is None and x['device_browser'] == 'Safari' else x['device_os'], axis=1)

In [93]:
data['device_os'] = data.apply(lambda x: 'Android' if x['device_os'] is None and x['device_category'] == 'mobile' else x['device_os'], axis=1)

In [94]:
data['device_os'] = data.apply(lambda x: 'Android' if x['device_os'] is None and x['device_category'] == 'tablet' else x['device_os'], axis=1)

In [95]:
data_empty = data[data['device_os'].isnull()] # выберем строки с пустыми значениями в device_os
data_empty.head(10)

Empty DataFrame
Columns: [session_id, client_id, visit_date, visit_time, visit_number, utm_source, utm_medium, utm_campaign, utm_adcontent, utm_keyword, device_category, device_os, device_brand, device_model, device_screen_resolution, device_browser, geo_country, geo_city]
Index: []

In [96]:
data.loc[data['device_os'].isnull(), 'device_brand']

Series([], Name: device_brand, dtype: object)

In [97]:
data['device_os'].unique()

array(['Android', 'iOS', 'Samsung', 'Windows', 'Linux', 'Macintosh',
       '(not set)', 'Chrome OS', 'BlackBerry', 'Tizen', 'Firefox OS',
       'Windows Phone', 'Nokia'], dtype=object)

####

In [98]:
drop_columns = ['device_model', 'device_brand','utm_keyword', 
                'utm_adcontent', 'utm_campaign', 'device_screen_resolution',
                'client_id', 'visit_number']
data = data.drop(columns=drop_columns)

In [99]:
print(data.isna().sum())

session_id          0
visit_date          0
visit_time          0
utm_source         97
utm_medium          0
device_category     0
device_os           0
device_browser      0
geo_country         0
geo_city            0
dtype: int64

In [100]:
data.head()

,session_id,visit_date,visit_time,utm_source,utm_medium,device_category,device_os,device_browser,geo_country,geo_city
0,9055434745589932991.1637753792.1637753792,2021-11-24,14:36:32,ZpYIoDJMcFzVoPFsHGJL,banner,mobile,Android,Chrome,Russia,Zlatoust
1,905544597018549464.1636867290.1636867290,2021-11-14,08:21:30,MvfHsxITijuriZxsqZqt,cpm,mobile,Android,Samsung Internet,Russia,Moscow
2,9055446045651783499.1640648526.1640648526,2021-12-28,02:42:06,ZpYIoDJMcFzVoPFsHGJL,banner,mobile,Android,Chrome,Russia,Krasnoyarsk
3,9055447046360770272.1622255328.1622255328,2021-05-29,05:00:00,kjsLglQLzykiRbcDiGcD,cpc,mobile,Android,Chrome,Russia,Moscow
4,9055447046360770272.1622255345.1622255345,2021-05-29,05:00:00,kjsLglQLzykiRbcDiGcD,cpc,mobile,Android,Chrome,Russia,Moscow

#### Добавление поля статуса, реклама в соц.сетях

In [101]:
list_social_net = ['QxAxdyPLuQMEcrdZWdWb', 'MvfHsxITijuriZxsqZqt', 'ISrKoXQCxqqYvAZICvjs',
                   'IZEXUFLARCUMynmHNBGo', 'PlbkrSYoHuZBWfYjYnfw', 'gVRrcxiDQubJiljoTbGm']
data['social_net'] = data.apply(lambda x: 1 if x['utm_source'] in list_social_net else 0, axis=1)

In [102]:
data.head()

,session_id,visit_date,visit_time,utm_source,utm_medium,device_category,device_os,device_browser,geo_country,geo_city,social_net
0,9055434745589932991.1637753792.1637753792,2021-11-24,14:36:32,ZpYIoDJMcFzVoPFsHGJL,banner,mobile,Android,Chrome,Russia,Zlatoust,0
1,905544597018549464.1636867290.1636867290,2021-11-14,08:21:30,MvfHsxITijuriZxsqZqt,cpm,mobile,Android,Samsung Internet,Russia,Moscow,1
2,9055446045651783499.1640648526.1640648526,2021-12-28,02:42:06,ZpYIoDJMcFzVoPFsHGJL,banner,mobile,Android,Chrome,Russia,Krasnoyarsk,0
3,9055447046360770272.1622255328.1622255328,2021-05-29,05:00:00,kjsLglQLzykiRbcDiGcD,cpc,mobile,Android,Chrome,Russia,Moscow,0
4,9055447046360770272.1622255345.1622255345,2021-05-29,05:00:00,kjsLglQLzykiRbcDiGcD,cpc,mobile,Android,Chrome,Russia,Moscow,0

In [103]:
# больше это поле нам не нужно
data = data.drop(columns=['utm_source'])

In [104]:
data.head()

,session_id,visit_date,visit_time,utm_medium,device_category,device_os,device_browser,geo_country,geo_city,social_net
0,9055434745589932991.1637753792.1637753792,2021-11-24,14:36:32,banner,mobile,Android,Chrome,Russia,Zlatoust,0
1,905544597018549464.1636867290.1636867290,2021-11-14,08:21:30,cpm,mobile,Android,Samsung Internet,Russia,Moscow,1
2,9055446045651783499.1640648526.1640648526,2021-12-28,02:42:06,banner,mobile,Android,Chrome,Russia,Krasnoyarsk,0
3,9055447046360770272.1622255328.1622255328,2021-05-29,05:00:00,cpc,mobile,Android,Chrome,Russia,Moscow,0
4,9055447046360770272.1622255345.1622255345,2021-05-29,05:00:00,cpc,mobile,Android,Chrome,Russia,Moscow,0

#### Добавление поля тип трафика
organic&nbsp; - &nbsp;органический трафик 'organic', 'referal', '(none)', '(not set)'  
paid&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - &nbsp;платный трафик - весь не органический трафик

In [105]:
data['utm_medium'].unique()

array(['banner', 'cpm', 'cpc', 'organic', '(none)', 'referral', 'smm',
       'stories', 'blogger_channel', 'blogger_stories', 'email', 'app',
       'vk_smm', 'cpv', 'push', 'partner', 'tg', 'cpa', 'post',
       'smartbanner', 'info_text', 'outlook', 'clicks', 'landing',
       'blogger_header', 'qr', '(not set)', 'fb_smm', 'nkp', 'google_cpc',
       'sms', 'article', 'users_msk', 'static', 'ok_smm', 'cbaafe',
       'Sbol_catalog', 'landing_interests', 'yandex_cpc', 'web_polka',
       'linktest', 'sber_app', 'CPM', 'medium', 'tablet', 'promo_sbol',
       'reach', 'desktop', 'dom_click', 'social', 'catalogue',
       'main_polka', 'last', 'link', 'qrcodevideo', 'promo_sber'],
      dtype=object)

In [106]:
list_organic = ['organic', 'referal', '(none)', '(not set)']
data['traffic_type'] = data.apply(lambda x: 'organic' if x['utm_medium'] in list_organic else 'paid', axis=1)

In [107]:
data.head()

,session_id,visit_date,visit_time,utm_medium,device_category,device_os,device_browser,geo_country,geo_city,social_net,traffic_type
0,9055434745589932991.1637753792.1637753792,2021-11-24,14:36:32,banner,mobile,Android,Chrome,Russia,Zlatoust,0,paid
1,905544597018549464.1636867290.1636867290,2021-11-14,08:21:30,cpm,mobile,Android,Samsung Internet,Russia,Moscow,1,paid
2,9055446045651783499.1640648526.1640648526,2021-12-28,02:42:06,banner,mobile,Android,Chrome,Russia,Krasnoyarsk,0,paid
3,9055447046360770272.1622255328.1622255328,2021-05-29,05:00:00,cpc,mobile,Android,Chrome,Russia,Moscow,0,paid
4,9055447046360770272.1622255345.1622255345,2021-05-29,05:00:00,cpc,mobile,Android,Chrome,Russia,Moscow,0,paid

In [108]:
counts = data['traffic_type'].value_counts()

# Выводим значения в виде "значение: количество"
for value, count in counts.items():
    print(f"{value}:", "{:,}".format(count).replace(',',' '))

paid: 1 495 953
organic: 364 089

In [109]:
# больше это поле нам не нужно
data = data.drop(columns=['utm_medium'])

In [110]:
data.head()

,session_id,visit_date,visit_time,device_category,device_os,device_browser,geo_country,geo_city,social_net,traffic_type
0,9055434745589932991.1637753792.1637753792,2021-11-24,14:36:32,mobile,Android,Chrome,Russia,Zlatoust,0,paid
1,905544597018549464.1636867290.1636867290,2021-11-14,08:21:30,mobile,Android,Samsung Internet,Russia,Moscow,1,paid
2,9055446045651783499.1640648526.1640648526,2021-12-28,02:42:06,mobile,Android,Chrome,Russia,Krasnoyarsk,0,paid
3,9055447046360770272.1622255328.1622255328,2021-05-29,05:00:00,mobile,Android,Chrome,Russia,Moscow,0,paid
4,9055447046360770272.1622255345.1622255345,2021-05-29,05:00:00,mobile,Android,Chrome,Russia,Moscow,0,paid

####

###

In [111]:
print(data.isna().sum())

session_id         0
visit_date         0
visit_time         0
device_category    0
device_os          0
device_browser     0
geo_country        0
geo_city           0
social_net         0
traffic_type       0
dtype: int64

In [112]:
duplicates = data.duplicated()
print(f"Number of duplicate rows: {duplicates.sum()}")

Number of duplicate rows: 0

In [113]:
data.head()

,session_id,visit_date,visit_time,device_category,device_os,device_browser,geo_country,geo_city,social_net,traffic_type
0,9055434745589932991.1637753792.1637753792,2021-11-24,14:36:32,mobile,Android,Chrome,Russia,Zlatoust,0,paid
1,905544597018549464.1636867290.1636867290,2021-11-14,08:21:30,mobile,Android,Samsung Internet,Russia,Moscow,1,paid
2,9055446045651783499.1640648526.1640648526,2021-12-28,02:42:06,mobile,Android,Chrome,Russia,Krasnoyarsk,0,paid
3,9055447046360770272.1622255328.1622255328,2021-05-29,05:00:00,mobile,Android,Chrome,Russia,Moscow,0,paid
4,9055447046360770272.1622255345.1622255345,2021-05-29,05:00:00,mobile,Android,Chrome,Russia,Moscow,0,paid

In [114]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1860042 entries, 0 to 1860041
Data columns (total 10 columns):
 #   Column           Dtype
---  ------           -----
 0   session_id       object
 1   visit_date       datetime64[ns]
 2   visit_time       object
 3   device_category  object
 4   device_os        object
 5   device_browser   object
 6   geo_country      object
 7   geo_city         object
 8   social_net       int64
 9   traffic_type     object
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 141.9+ MB
None

In [115]:
# Приведем все столбцы со строковыми переменными к нижнему регистру
data['device_category'] = data.device_category.apply(lambda x: x.lower())
data['device_os'] = data.device_os.apply(lambda x: x.lower())
data['device_browser'] = data.device_browser.apply(lambda x: x.lower())
data['geo_country'] = data.geo_country.apply(lambda x: x.lower())
data['geo_city'] = data.geo_city.apply(lambda x: x.lower())

In [116]:
data.to_pickle("../data/result_ga_session.pkl")

In [117]:
with open('../data/result_ga_session.pkl', 'rb') as file:
    df = pickle.load(file)

In [118]:
shape = df.shape
print("Количество строк:", "{:,}".format(shape[0]).replace(',',' '))
print("Количество столбцов:", "{:,}".format(shape[1]).replace(',',' '))

Количество строк: 1 860 042
Количество столбцов: 10

In [119]:
df.head()

,session_id,visit_date,visit_time,device_category,device_os,device_browser,geo_country,geo_city,social_net,traffic_type
0,9055434745589932991.1637753792.1637753792,2021-11-24,14:36:32,mobile,android,chrome,russia,zlatoust,0,paid
1,905544597018549464.1636867290.1636867290,2021-11-14,08:21:30,mobile,android,samsung internet,russia,moscow,1,paid
2,9055446045651783499.1640648526.1640648526,2021-12-28,02:42:06,mobile,android,chrome,russia,krasnoyarsk,0,paid
3,9055447046360770272.1622255328.1622255328,2021-05-29,05:00:00,mobile,android,chrome,russia,moscow,0,paid
4,9055447046360770272.1622255345.1622255345,2021-05-29,05:00:00,mobile,android,chrome,russia,moscow,0,paid

In [120]:
# выводим частоты категорий по каждой категориальной переменной
categorical_columns = [c for c in df.columns if df[c].dtype.name == 'object']
for c in categorical_columns:
    print(df[c].value_counts())

9055434745589932991.1637753792.1637753792    1
6294640354816492625.1638728787.1638728809    1
6294832296889291185.1623245519.1623245519    1
6294832296889291185.1623161065.1623161065    1
6294832296889291185.1623156608.1623156608    1
                                            ..
3525580570051063315.1625927189.1625927189    1
3525573324456022940.1640876964.1640876964    1
3525573324456022940.1640837067.1640837067    1
3525573324456022940.1640715164.1640715164    1
9055430416266113553.1640968742.1640968742    1
Name: session_id, Length: 1860042, dtype: int64
12:00:00    61067
13:00:00    61002
10:00:00    60211
14:00:00    60178
11:00:00    59887
            ...
02:51:41        1
03:55:15        1
03:52:54        1
03:44:17        1
04:30:09        1
Name: visit_time, Length: 85318, dtype: int64
mobile     1474871
desktop     366863
tablet       18308
Name: device_category, dtype: int64
android          775404
ios              551223
windows          336466
samsung          166514
macintosh         24824
linux              5120
(not set)           364
chrome os            83
blackberry           27
tizen                 7
windows phone         4
firefox os            3
nokia                 3
Name: device_os, dtype: int64
chrome                              1013436
safari                               478562
yabrowser                            133311
safari (in-app)                       69912
android webview                       55369
samsung internet                      47309
opera                                 26817
firefox                               16588
edge                                  16065
uc browser                              871
android runtime                         392
mozilla compatible agent                362
[fban                                   269
instagram 208.0.0.32.135 android        140
instagram 209.0.0.21.119 android        111
mrchrome                                 77
android browser                          49
opera mini                               45
puffin                                   45
internet explorer                        36
maxthon                                  31
android                                  22
instagram 216.1.0.21.137 android         19
mozilla                                  17
(not set)                                17
instagram 216.0.0.12.135                 17
instagram 202.0.0.23.119                 17
instagram 194.0.0.36.172 android         15
instagram 207.0.0.28.118                 14
instagram 202.0.0.37.123 android         12
com.vk.vkclient                           8
instagram 192.0.0.37.119                  7
amazon silk                               7
helloworld                                6
coc coc                                   6
instagram 213.0.0.19.117                  6
instagram 203.0.0.26.117                  6
instagram 212.0.0.38.119 android          6
instagram 201.0.0.23.111                  5
instagram 213.0.0.29.120 android          5
instagram 208.0.0.26.131                  5
seamonkey                                 4
instagram 192.0.0.35.123 android          3
instagram 158.0.0.30.123 android          3
myapp                                     2
iron                                      2
instagram 199.0.0.27.120                  2
netfront                                  2
instagram 199.1.0.34.119 android          2
com.zhiliaoapp.musically                  1
konqueror                                 1
nokiax2-02                                1
phantom browser                           1
instagram 206.1.0.34.121 android          1
nokia501                                  1
mt6735_td                                 1
threads 202.0.0.23.119                    1
Name: device_browser, dtype: int64
russia                 1800565
united states            11784
ukraine                   9012
ireland                   4034
belarus                   3636
                        ...
zambia                       1
malawi                       1
réunion                      1
barbados                     1
congo - brazzaville          1
Name: geo_country, Length: 166, dtype: int64
moscow              805329
saint petersburg    296788
(not set)            78172
yekaterinburg        35788
krasnodar            32243
                     ...
sherbrooke               1
albion                   1
bornheim                 1
huntley                  1
sommerda                 1
Name: geo_city, Length: 2548, dtype: int64
paid       1495953
organic     364089
Name: traffic_type, dtype: int64

In [121]:
# просмотрим частоты некотрых категорий
# 

print(df['device_category'].value_counts(dropna=False))

mobile     1474871
desktop     366863
tablet       18308
Name: device_category, dtype: int64

In [122]:
print(df['device_os'].value_counts(dropna=False))

android          775404
ios              551223
windows          336466
samsung          166514
macintosh         24824
linux              5120
(not set)           364
chrome os            83
blackberry           27
tizen                 7
windows phone         4
firefox os            3
nokia                 3
Name: device_os, dtype: int64